@rendermode InteractiveServer
@attribute [StreamRendering]

@using IMS.Shared.DTOs.Category.Request
@using IMS.Shared.DTOs.Category.Response


<RadzenTemplateForm TItem="SaveCategoryRequestDto" Data="@Category" Submit="Save">
    <div class="row">
        <div class="col-xl-12 mb-2">
            <RadzenLabel class="form-label d-block" Text="Name" />
            <RadzenTextBox class="form-control" Trim Name="Name" Placeholder="Name" @bind-Value="Category.Name" />
            <RadzenRequiredValidator Component="Name" Text="Required Field" />
            <RadzenLengthValidator Max="50" Component="Name" Text="Only 50 Characters Allowed" />
        </div>

        <div class="col-xl-12 mb-2">
            <div class="form-check form-check-lg p-0">
                <p class="form-label">Is Active</p>
                <RadzenSwitch class="form-check-input ms-2" @bind-Value="@Category.IsActive"></RadzenSwitch>
            </div>
        </div>
    </div>
    <div class="row text-end mt-2">
        <div class="col-12">
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Close" Click="@(() => dialogService.Close())" class="btn btn-light" />
            <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Submit" ButtonType="ButtonType.Submit" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    #region Parameters, Variables Declaration

    [Parameter]
    public Guid? CategoryId { get; set; }
    public CategoryDetailResponseDto CategoryDetail { get; set; } = new();
    public SaveCategoryRequestDto Category { get; set; } = new SaveCategoryRequestDto();
    #endregion

    #region Component Load

    protected override async Task OnInitializedAsync()
    {
        if (CategoryId != null)
        {
            var response = await clientApiService.SendGetAsync<CategoryDetailResponseDto>($"Category/GetCategoryById?Id={(Guid)CategoryId}");
            if (response.IsSuccessStatusCode)
            {
                CategoryDetail = response.ResultData;
                Category = new SaveCategoryRequestDto()
                {
                    Id = CategoryDetail.Id,
                    Name = CategoryDetail.Name,
                    IsActive = CategoryDetail.IsActive,
                };
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
    }

    #endregion

    #region Dialog Events

    private async Task Save()
    {

        bool? dialogResponse = await dialogService.Confirm(
           "Are you sure you want to submit?",
           "Confirm",
           new ConfirmOptions()
           {
               CancelButtonText = "Cancel",
               OkButtonText = "OK"
           });
        if (dialogResponse == true)
        {

            var response = await clientApiService.SendAsync<SaveCategoryRequestDto, object>(HttpMethod.Post, "Category/SaveCategory", Category, hasReturnData: false);
            if (response.IsSuccessStatusCode)
            {
                dialogService.Close(Category);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
    }

    private void Cancel()
    {
        dialogService.Close(null);
    }
    #endregion
}