@inject NavigationManager NavigationManager
@page "/unauthorized"

<h3>Unauthorized Access</h3>
<p style="font-size: smaller">navigating to login...</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        NavigationManager.NavigateTo("/");
    }
}