@page "/productList/{CategoryName}/{CategoryId}"
@using IMS.Shared.DTOs.Product.Response
@using IMS.Web.Components.Pages.Product.Dialogs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Products</PageTitle>
<div class="container-fluid">
    <h1>Products</h1>

    <button class="btn btn-primary btn-sm my-3" type="button" @onclick="@(() => AddEditProduct(null, Guid.Parse(CategoryId)))">Add Product</button>

    @if (productDetailList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3>@CategoryName Items</h3>
                </div>
            </div>
            <div class="card-body">
                <RadzenDataGrid @ref="ProductGrid"
                                Data="@productDetailList?.OrderByDescending(x => x.CreatedDate)"
                                TItem="ProductDetailResponseDto"
                                AllowPaging="true"
                                PageSize="10"
                                AllowSorting="true"
                                EmptyText="No Record Found"
                                Count="@(productDetailList?.Count ?? 0)"
                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                PageSizeText="Items Per Page"
                                PageSizeOptions="@(new List<int> { 10, 25, 50, 100 })"
                                PagingSummaryFormat=""
                                ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="ProductCode" Title="Code" Width="120px" />
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="Name" Title="Name" Width="120px" />
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="UnitPrice" Title="Unit Price" Width="120px" />
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="CurrentStock" Title="Current Stock" Width="120px" />
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="CreatedDate" Title="Created Date" FormatString="{0:MM/dd/yyyy}" Width="120px" />
                        <RadzenDataGridColumn TItem="ProductDetailResponseDto" Title="Action" CssClass="text-center" Sortable="false" Width="120px">
                            <Template Context="item">
                                <div class="justify-content-center">
                                    <button class="btn btn-primary btn-sm" type="button" @onclick="@(() => AddEditProduct(item.Id, Guid.Parse(CategoryId)))">Edit</button>
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string CategoryId { get; set; }
    [Parameter]
    public string CategoryName { get; set; }
    private List<ProductDetailResponseDto> productDetailList { get; set; } = new();
    protected RadzenDataGrid<ProductDetailResponseDto>? ProductGrid = new RadzenDataGrid<ProductDetailResponseDto>();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    #region On Load Grid Data
    private async Task LoadData()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<ProductDetailResponseDto>>($"Product/GetProductsByCategory?Id={Guid.Parse(CategoryId)}");
            if (response.IsSuccessStatusCode)
            {
                productDetailList = (List<ProductDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    #endregion

    private async Task AddEditProduct(Guid? ProductId, Guid CategoryId)
    {
        try
        {
            var result = await dialogService.OpenAsync<AddEditProductDialog>((ProductId == null ? "Add Product" : "Edit Product"),
                new Dictionary<string, object> {
                    { "ProductId", ProductId },
                    { "CategoryId", CategoryId }
                },
                new DialogOptions() { Width = "30%" });
            if (result != null)
            {
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
